<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Plutus.ETL.CS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <Plutus.ETL.CS.Properties.Settings>
      <setting name="InputData" serializeAs="String">
        <value>C:\Documents\Limited Company\Personal Account Tracking\InputData\</value>
      </setting>
      <setting name="StartDate" serializeAs="String">
        <value>2014-11-01</value>
      </setting>
      <setting name="EndDate" serializeAs="String">
        <value>2019-11-01</value>
      </setting>
      <setting name="ResetData" serializeAs="String">
        <value>True</value>
      </setting>
    </Plutus.ETL.CS.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings>
<add name="BusinessAccountingEntities" connectionString="metadata=res://*/Model.BusinessAccountingDB.csdl|res://*/Model.BusinessAccountingDB.ssdl|res://*/Model.BusinessAccountingDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BusinessAccounting;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>